{% extends "layout.html" %}
{% block content %} 
    <div class="container">
       <div class="row">
            <div class="col-md-6"> <br>
                <h4> Visualization 1 </h4>
            </div>

            <div class="col-md-6"> <br>
                <h4> Visualization 2 </h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6"> <br>
                <div class="pull-left">

                    <!-- TODO: -->
                    <!-- append graphic -->
                    <!-- example -->
                    <!--<img src="Resources/assets/images/Fig1.png" alt="City Latitude vs Max Temperature" width="300" height="175">-->

                </div>

                <div class="text-left">
                    <!-- TODO: -->
                    <!-- append summary for above graphic-->
                    <!--<p></p>-->
                </div>

            </div>
            <div class="col-md-6"> <br>
                <div class="pull-right">

                    <!-- TODO: -->
                    <!-- append graphic -->
                    <!-- example -->
                    <!--<a href="lat_vs_temp.html"><img src="Resources/assets/images/Fig1.png" alt="City Latitude vs Max Temperature" width="100%" height="100%"></a>-->

                </div>
                <div class="text-left">

                    <!-- TODO: -->
                    <!-- append summary for above graphic-->
                    <!--<p></p>-->

                </div>
            </div>

        </div>
    </div>
{% endblock content %}
