{% extends "layout.html" %}
{% block dropdown %}
    

{% endblock dropdown %}

{% block content %}

	<div class = "d-flex justify-content-center align-items-center container text-center">
		<div class = "col-xs-4">
			<label for="year" class="text-center">Year</label>
      <select id="year" class="form-control form-control-lg">
        <option value="2050" selected="selected">2050</option>
        <option value="2070">2070</option>
      </select>
      </div>
		<div class = "col-xs-4">
		
		  <label for="model" data-toggle="popover" title="Severity of climate change" 
		  data-content = "driven by future pollution levels" data-trigger="hover" data-placement = "bottom" >
		  Severity (?)</label>
		  
          <select id="model" class="form-control form-control-lg" >
          <option value="mild" selected="selected">Mild</option>
          <option value="severe">Severe</option>
      </select>
	</div>	  
		<div class = "col-xs-4">
			<label for="algorithm">Algorithm</label>
      <select id="algorithm" class="form-control form-control-lg">
        <option value="neural" selected="selected">Neural Network</option>
        <option value="forest">Random Forest</option>
        <option value="logistic">Logistic Regression</option>
        <option value="linear">Linear Regression</option>
      </select>
	</div>
	</div>
   </form>

  <div id="map-holder">
		<div class="container fill">
		<div id="map"></div>
		</div>
	</div>
{% endblock content %}
